.detail
	padding: 0 20px
	.cover
		width: 100%
	h3
		margin: 15px 0
		color: #00bbb3
		font-size: 17px
	.info
		color: #999
		font-size: 13px
		line-height: 30px
	.content
		margin: 15px 0
		color: #000
		font-size: 14px
		line-height: 30px
	.shelf
		padding: 20px 10px
